@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Open+Sans&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
   
}

body {
    margin: 9px 1em;
    z-index: 0;
    padding: 6px 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #815c3b;
}

h1, h2, h3, h4, h5 {
    font-family: 'Kumbh Sans', sans-serif;
}

header h2 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0em;
}

header h1, h2 {
 color: #fff;
 /* text-shadow: .9px .9px 1px ; */
}

h1 {
    font-size: 3.3rem;
    margin-top: 0em;
    margin-bottom: .25em;

}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6f844a;
    padding: 0 .9em;
}

.button {
    box-shadow: 0 3px 6px #00000060;
    transition-duration: .3s;
    border-radius: 5px;
}

.button:hover {
    background-color: #879ca1;
    color: #ffffff;
}

.panel {
    display:flex;
    flex-direction: row;
    min-height: 60px;
    justify-content: space-between;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
}
.panel input {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 6px;
    }

.panel button {
    display: inline-block;
    width: 48%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-left: 4px;
}



.reminder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reminder p {
    font-size: .9rem;
}

select {
    padding: 3px 3px;
}

.row-header {
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    color: #182b0f;
    
}
.row-header p {
    width: 48%;
    text-align: center;

}

.community-area {
    display: none;
}

.results {
    display: flex;
    flex-flow: column;
    text-align: left;
    background-color: #d4d3d0;
    border-radius: 6px;
    
}

.row-result {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: .75rem;
    background-color: white;
    margin-bottom: 3px;
}

.row-result>p {
    width: 48%;
}



.row-result button {
    font-size: .8rem;
    margin-left: 1em;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
}

.right-side p {
    margin: .2em;
}

.hidden {
    display: none;
}

i {
    font-size: 1rem;
    vertical-align: super;
    margin: 0 6px;
}

#modal {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 540px;
	width: 300px;
	border-radius: 2px;
	margin: 150px auto;
    padding: 21px;
}

#modal h2 {
    color: #6f844a;
}


@media (min-width: 600px) {
    h1 {
        font-size: 43px;
        margin-top: 0em;
        margin-bottom: .3em;
        display: inline;
        align-self: flex-end;

    }

    header h2 {
        font-family: 'Kumbh Sans', sans-serif;
        font-size: 43px;
        display: inline;
        align-self: flex-start;
        margin-bottom: -52px;
        margin-top: 18px;
        margin-left: 11px;
        /* color: blue; */
    }

    .reminder {
        justify-content: space-evenly;
    }

    .reminder p {
        font-size: 1.2rem;
    }


    .community-area {
        display: hidden;
    }

    body {
        width: 660px;
        margin: 0 auto;
    }

    .row-result {
        font-size: 1em;
    }

    .panel {
        flex-wrap: nowrap;
    } 
    .panel input {
        width: 36%;
        font-size: 1rem;
        text-align: center;
        height: 45px;
        }


    .panel button {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        padding: 0;
        height: 45px;
    }

    #modal-textbox {
        height: 330px;
        width: 540px;
    
    }
}