* {
    box-sizing: border-box;
    border: .3px solid blue;
   
}

body {
    margin: 9px 1em;
    z-index: 0;
    padding: 6px 0;
}

.panel {
    display:flex;
    flex-direction: row;
    min-height: 60px;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.panel button {
    display: block;
    width: 24%;
    
}

.panel input {
width: 48%;
font-size: 1.5em;
text-align: center;
}

.reminder {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.reminder div {
    display: flex;
    flex-direction: column;
    max-height: 1.8em;
    
}

.row-header {
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    
}
.row-header p {
    width: 48%;
    text-align: center;

}

.community-area {
    display: none;
}

.results {
    display: flex;
    flex-flow: column;
    text-align: left;
    
}



.row-result {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: .8em;
}

.row-result>p {
    width: 48%;
}



.row-result button {
    font-size: .8em;
    margin-left: 1em;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
}

.right-side p {
    margin: .2em;
}

.hidden {
    display: none;
}

i {
    font-size: .4em;
    vertical-align: super;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 300px;
	width: 420px;
	border-radius: 2px;
	margin: 150px auto;
    padding: 21px;
}


@media (min-width: 600px) {
    .community-area {
        display: hidden;
    }

    body {
        width: 660px;
        margin: 0 auto;
    }

    .row-result {
        font-size: 1em;
    }


}